{%- if java_oracle_distribution == 'jdk' -%}
{{ java_oracle_redis_jdk_sha256sum }} *{{ local_ansible_data_path }}/{{ java_oracle_redis_filename }}
{%- endif -%}
{% if java_oracle_distribution == 'jre' -%}
{{ java_oracle_redis_jre_sha256sum }} *{{ local_ansible_data_path }}/{{ java_oracle_redis_filename }}
{%- endif -%}
